<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel Despacho search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN IdServicio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_IdServicio}  r-horizontal-field form-horizontal" 
	
		data-fieldname="IdServicio" 
	
	data-signal-error-for="IdServicio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="IdServicio" >


	<label class="r-search-label control-label" for="{$labelfor_IdServicio}">
		{$label Despacho IdServicio }	</label>
	<div class="r-search-option">
		{$searchtype_IdServicio}
	</div>
	<div class="r-search-field">
		{$IdServicio_editcontrol}	</div>
	<div class="r-search-field">
		{$IdServicio_editcontrol1}
	</div>
	
</div>

{END IdServicio_fieldblock}
											
{BEGIN IdDetalleServicio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_IdDetalleServicio}  r-horizontal-field form-horizontal" 
	
		data-fieldname="IdDetalleServicio" 
	
	data-signal-error-for="IdDetalleServicio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="IdDetalleServicio" >


	<label class="r-search-label control-label" for="{$labelfor_IdDetalleServicio}">
		{$label Despacho IdDetalleServicio }	</label>
	<div class="r-search-option">
		{$searchtype_IdDetalleServicio}
	</div>
	<div class="r-search-field">
		{$IdDetalleServicio_editcontrol}	</div>
	<div class="r-search-field">
		{$IdDetalleServicio_editcontrol1}
	</div>
	
</div>

{END IdDetalleServicio_fieldblock}
											
{BEGIN FHDespacho_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FHDespacho}  r-horizontal-field form-horizontal" 
	
		data-fieldname="FHDespacho" 
	
	data-signal-error-for="FHDespacho{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="FHDespacho" >


	<label class="r-search-label control-label" for="{$labelfor_FHDespacho}">
		{$label Despacho FHDespacho }	</label>
	<div class="r-search-option">
		{$searchtype_FHDespacho}
	</div>
	<div class="r-search-field">
		{$FHDespacho_editcontrol}	</div>
	<div class="r-search-field">
		{$FHDespacho_editcontrol1}
	</div>
	
</div>

{END FHDespacho_fieldblock}
											
{BEGIN IdUbigueoDespacho_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_IdUbigueoDespacho}  r-horizontal-field form-horizontal" 
	
		data-fieldname="IdUbigueoDespacho" 
	
	data-signal-error-for="IdUbigueoDespacho{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="IdUbigueoDespacho" >


	<label class="r-search-label control-label" for="{$labelfor_IdUbigueoDespacho}">
		{$label Despacho IdUbigueoDespacho }	</label>
	<div class="r-search-option">
		{$searchtype_IdUbigueoDespacho}
	</div>
	<div class="r-search-field">
		{$IdUbigueoDespacho_editcontrol}	</div>
	<div class="r-search-field">
		{$IdUbigueoDespacho_editcontrol1}
	</div>
	
</div>

{END IdUbigueoDespacho_fieldblock}
											
{BEGIN HoraMisa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_HoraMisa}  r-horizontal-field form-horizontal" 
	
		data-fieldname="HoraMisa" 
	
	data-signal-error-for="HoraMisa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="HoraMisa" >


	<label class="r-search-label control-label" for="{$labelfor_HoraMisa}">
		{$label Despacho HoraMisa }	</label>
	<div class="r-search-option">
		{$searchtype_HoraMisa}
	</div>
	<div class="r-search-field">
		{$HoraMisa_editcontrol}	</div>
	<div class="r-search-field">
		{$HoraMisa_editcontrol1}
	</div>
	
</div>

{END HoraMisa_fieldblock}
											
{BEGIN TipoCremacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TipoCremacion}  r-horizontal-field form-horizontal" 
	
		data-fieldname="TipoCremacion" 
	
	data-signal-error-for="TipoCremacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="TipoCremacion" >


	<label class="r-search-label control-label" for="{$labelfor_TipoCremacion}">
		{$label Despacho TipoCremacion }	</label>
	<div class="r-search-option">
		{$searchtype_TipoCremacion}
	</div>
	<div class="r-search-field">
		{$TipoCremacion_editcontrol}	</div>
	<div class="r-search-field">
		{$TipoCremacion_editcontrol1}
	</div>
	
</div>

{END TipoCremacion_fieldblock}
											
{BEGIN IdPersonalDespacho_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_IdPersonalDespacho}  r-horizontal-field form-horizontal" 
	
		data-fieldname="IdPersonalDespacho" 
	
	data-signal-error-for="IdPersonalDespacho{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="IdPersonalDespacho" >


	<label class="r-search-label control-label" for="{$labelfor_IdPersonalDespacho}">
		{$label Despacho IdPersonalDespacho }	</label>
	<div class="r-search-option">
		{$searchtype_IdPersonalDespacho}
	</div>
	<div class="r-search-field">
		{$IdPersonalDespacho_editcontrol}	</div>
	<div class="r-search-field">
		{$IdPersonalDespacho_editcontrol1}
	</div>
	
</div>

{END IdPersonalDespacho_fieldblock}
											
{BEGIN IdVehiculoDespacho_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_IdVehiculoDespacho}  r-horizontal-field form-horizontal" 
	
		data-fieldname="IdVehiculoDespacho" 
	
	data-signal-error-for="IdVehiculoDespacho{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="IdVehiculoDespacho" >


	<label class="r-search-label control-label" for="{$labelfor_IdVehiculoDespacho}">
		{$label Despacho IdVehiculoDespacho }	</label>
	<div class="r-search-option">
		{$searchtype_IdVehiculoDespacho}
	</div>
	<div class="r-search-field">
		{$IdVehiculoDespacho_editcontrol}	</div>
	<div class="r-search-field">
		{$IdVehiculoDespacho_editcontrol1}
	</div>
	
</div>

{END IdVehiculoDespacho_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
