<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-page="detalleservicio_list" data-logo-cell data-itemid="image" {$item_image} data-topcell-item-type="image" >
				<img src="{$file_url images/path2.png}" data-itemtype="image" data-itemid="image" {$item_image} data-pageid="{$pageid}" />
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-page="detalleservicio_list" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel" >
				<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}" >

	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Búsqueda			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Mostrar opciones</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>todas las condiciones</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>cualquier condición</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>esconder</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_Camara}


		<div class="form-group srchPanelRow {$filterRow_class_Camara}" {$filterRow_attrs_Camara}>
			<label>{$label detalleservicio Camara }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Camara}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Camara}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Camara}</span>
						</div>
		{END searchCtrlBlock_Camara}
																{BEGIN searchCtrlBlock_Turno}


		<div class="form-group srchPanelRow {$filterRow_class_Turno}" {$filterRow_attrs_Turno}>
			<label>{$label detalleservicio Turno }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Turno}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Turno}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Turno}</span>
						</div>
		{END searchCtrlBlock_Turno}
																{BEGIN searchCtrlBlock_Nivel}


		<div class="form-group srchPanelRow {$filterRow_class_Nivel}" {$filterRow_attrs_Nivel}>
			<label>{$label detalleservicio Nivel }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Nivel}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Nivel}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Nivel}</span>
						</div>
		{END searchCtrlBlock_Nivel}
																{BEGIN searchCtrlBlock_Necropcia}


		<div class="form-group srchPanelRow {$filterRow_class_Necropcia}" {$filterRow_attrs_Necropcia}>
			<label>{$label detalleservicio Necropcia }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Necropcia}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Necropcia}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Necropcia}</span>
						</div>
		{END searchCtrlBlock_Necropcia}
																{BEGIN searchCtrlBlock_Lugar}


		<div class="form-group srchPanelRow {$filterRow_class_Lugar}" {$filterRow_attrs_Lugar}>
			<label>{$label detalleservicio Lugar }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Lugar}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Lugar}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Lugar}</span>
						</div>
		{END searchCtrlBlock_Lugar}
																{BEGIN searchCtrlBlock_Instalacion}


		<div class="form-group srchPanelRow {$filterRow_class_Instalacion}" {$filterRow_attrs_Instalacion}>
			<label>{$label detalleservicio Instalacion }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Instalacion}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Instalacion}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Instalacion}</span>
						</div>
		{END searchCtrlBlock_Instalacion}
																{BEGIN searchCtrlBlock_IdVehiculoRecojo}


		<div class="form-group srchPanelRow {$filterRow_class_IdVehiculoRecojo}" {$filterRow_attrs_IdVehiculoRecojo}>
			<label>{$label detalleservicio IdVehiculoRecojo }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_IdVehiculoRecojo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_IdVehiculoRecojo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_IdVehiculoRecojo}</span>
						</div>
		{END searchCtrlBlock_IdVehiculoRecojo}
																{BEGIN searchCtrlBlock_IdUbigeoRecojo}


		<div class="form-group srchPanelRow {$filterRow_class_IdUbigeoRecojo}" {$filterRow_attrs_IdUbigeoRecojo}>
			<label>{$label detalleservicio IdUbigeoRecojo }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_IdUbigeoRecojo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_IdUbigeoRecojo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_IdUbigeoRecojo}</span>
						</div>
		{END searchCtrlBlock_IdUbigeoRecojo}
																{BEGIN searchCtrlBlock_IdServicio}


		<div class="form-group srchPanelRow {$filterRow_class_IdServicio}" {$filterRow_attrs_IdServicio}>
			<label>{$label detalleservicio IdServicio }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_IdServicio}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_IdServicio}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_IdServicio}</span>
						</div>
		{END searchCtrlBlock_IdServicio}
																{BEGIN searchCtrlBlock_IdSedeRecojo}


		<div class="form-group srchPanelRow {$filterRow_class_IdSedeRecojo}" {$filterRow_attrs_IdSedeRecojo}>
			<label>{$label detalleservicio IdSedeRecojo }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_IdSedeRecojo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_IdSedeRecojo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_IdSedeRecojo}</span>
						</div>
		{END searchCtrlBlock_IdSedeRecojo}
																{BEGIN searchCtrlBlock_IdPersonalRecojo}


		<div class="form-group srchPanelRow {$filterRow_class_IdPersonalRecojo}" {$filterRow_attrs_IdPersonalRecojo}>
			<label>{$label detalleservicio IdPersonalRecojo }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_IdPersonalRecojo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_IdPersonalRecojo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_IdPersonalRecojo}</span>
						</div>
		{END searchCtrlBlock_IdPersonalRecojo}
																{BEGIN searchCtrlBlock_FHRecojo}


		<div class="form-group srchPanelRow {$filterRow_class_FHRecojo}" {$filterRow_attrs_FHRecojo}>
			<label>{$label detalleservicio FHRecojo }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_FHRecojo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_FHRecojo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_FHRecojo}</span>
						</div>
		{END searchCtrlBlock_FHRecojo}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>Buscar</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>Mostrar todo</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
    {END left_block}
</div>				</div>	
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Mostrar todo">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-cog"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN exportselected_link}
	<li data-itemtype="export_selected" data-itemid="export_selected" {$item_export_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportselectedlink_attrs} {$exportselectedlink_span}  title="" >
				
		Exportar seleccionados		
		</a>
	</li>
{END exportselected_link}
							{BEGIN deleteselected_link}
	<li data-itemtype="delete_selected" data-itemid="delete_selected" {$item_delete_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}  title="" >
				
		Borrar articulos seleccionados		
		</a>
	</li>
{END deleteselected_link}
							<li role="separator" class="divider"></li>								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="detalleservicio_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Búsqueda avanzada		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Mostrar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Ocultar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export" data-itemid="export" {$item_export} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportlink_attrs}  title="" >
				
		Exportar resultados		
		</a>
	</li>
{END export_link}
							<li role="separator" class="divider"></li>							{BEGIN import_link}
	<li data-itemtype="import" data-itemid="import" {$item_import} data-pageid="{$pageid}" data-small >
				<a  {$importlink_attrs} href="detalleservicio_import.php{$stateLink_full}"  title="" >
				
		Importar		
		</a>
	</li>
{END import_link}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Conectar			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-user"></span>
						{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Desconectarse		
		</a>
	</li>
{END logoutbutton}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-6
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN add_link}
<span data-itemtype="add" data-itemid="add" {$item_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$addlink_attrs} href="detalleservicio_add.php{$stateLink_full}" data-popup >
							Añadir nuevo			</a>
</span>
{END add_link}
	 
		{BEGIN inlineadd_link}
<span data-itemtype="inline_add" data-itemid="inline_add" {$item_inline_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$inlineaddlink_attrs} >
							Añadir nuevo			</a>
</span>
{END inlineadd_link}
	 
		{BEGIN deleteselected_link}
<span data-itemtype="delete" data-itemid="delete" {$item_delete} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled >
							Borrar artículos seleccionados			</a>
</span>
{END deleteselected_link}
			{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$details_found_labeldetails_found}
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Página para imprimir" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Rango:		</div>

		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="detalleservicio_print.php?all=1&amp;{$crosstable_attrs}" name="printScope">
									Imprimir todas las páginas							</label>
		</div>
		{END print_friendly_all}
	</div>
	<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="detalleservicio_print.php?{$crosstable_attrs}">
				Imprimir esta página			</label>
		</div>
	</div>
	
		<div class="row">
		<div class="col-md-4">
			&nbsp;
		</div>
		<div class="col-md-8">
			<label style="color: gray;" for="printSelection{$id}">
			<input name="printScope" disabled="disabled" id="printSelection{$id}" type="radio">
			Imprimir la selección			</label>
		</div>
	</div>
	</div>				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					Resultados por página							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Imprimir			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="IdServicio"]:before {
		content: "{$label detalleservicio IdServicio}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="FHRecojo"]:before {
		content: "{$label detalleservicio FHRecojo}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="IdSedeRecojo"]:before {
		content: "{$label detalleservicio IdSedeRecojo}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Lugar"]:before {
		content: "{$label detalleservicio Lugar}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Turno"]:before {
		content: "{$label detalleservicio Turno}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="IdUbigeoRecojo"]:before {
		content: "{$label detalleservicio IdUbigeoRecojo}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Instalacion"]:before {
		content: "{$label detalleservicio Instalacion}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Necropcia"]:before {
		content: "{$label detalleservicio Necropcia}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Camara"]:before {
		content: "{$label detalleservicio Camara}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Nivel"]:before {
		content: "{$label detalleservicio Nivel}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="IdPersonalRecojo"]:before {
		content: "{$label detalleservicio IdPersonalRecojo}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="IdVehiculoRecojo"]:before {
		content: "{$label detalleservicio IdVehiculoRecojo}";
	}
	}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes}  r-flexgrid rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_icons}
	<th
	
	{$cell_grid_headcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="detalleservicio_list"		data-control-cell
	
	>

	
	</th>
	{END cellblock_grid_headcell_icons}
				 
					{BEGIN cellblock_grid_headcell_checkbox}
	<th
	
	{$cell_grid_headcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="detalleservicio_list"	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox_head" data-itemid="grid_checkbox_head" {$item_grid_checkbox_head} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkboxheader_attrs}>
</span>
{END checkbox_column}
	
	</th>
	{END cellblock_grid_headcell_checkbox}
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$IdServicio_class}
			"

			data-field="IdServicio"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdServicio_fieldheadercolumn}
	{BEGIN IdServicio_fieldheader}
	<SPAN {$IdServicio_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdServicio">
	{$label detalleservicio IdServicio }	{$arrow_icon_IdServicio}
	</SPAN>
	{END IdServicio_fieldheader}
{END IdServicio_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$FHRecojo_class}
			"

			data-field="FHRecojo"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FHRecojo_fieldheadercolumn}
	{BEGIN FHRecojo_fieldheader}
	<SPAN {$FHRecojo_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FHRecojo">
	{$label detalleservicio FHRecojo }	{$arrow_icon_FHRecojo}
	</SPAN>
	{END FHRecojo_fieldheader}
{END FHRecojo_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$IdSedeRecojo_class}
			"

			data-field="IdSedeRecojo"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdSedeRecojo_fieldheadercolumn}
	{BEGIN IdSedeRecojo_fieldheader}
	<SPAN {$IdSedeRecojo_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdSedeRecojo">
	{$label detalleservicio IdSedeRecojo }	{$arrow_icon_IdSedeRecojo}
	</SPAN>
	{END IdSedeRecojo_fieldheader}
{END IdSedeRecojo_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$Lugar_class}
			"

			data-field="Lugar"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Lugar_fieldheadercolumn}
	{BEGIN Lugar_fieldheader}
	<SPAN {$Lugar_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Lugar">
	{$label detalleservicio Lugar }	{$arrow_icon_Lugar}
	</SPAN>
	{END Lugar_fieldheader}
{END Lugar_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$Turno_class}
			"

			data-field="Turno"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Turno_fieldheadercolumn}
	{BEGIN Turno_fieldheader}
	<SPAN {$Turno_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Turno">
	{$label detalleservicio Turno }	{$arrow_icon_Turno}
	</SPAN>
	{END Turno_fieldheader}
{END Turno_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
				 
					{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$IdUbigeoRecojo_class}
			"

			data-field="IdUbigeoRecojo"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdUbigeoRecojo_fieldheadercolumn}
	{BEGIN IdUbigeoRecojo_fieldheader}
	<SPAN {$IdUbigeoRecojo_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdUbigeoRecojo">
	{$label detalleservicio IdUbigeoRecojo }	{$arrow_icon_IdUbigeoRecojo}
	</SPAN>
	{END IdUbigeoRecojo_fieldheader}
{END IdUbigeoRecojo_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
				 
					{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$Instalacion_class}
			"

			data-field="Instalacion"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Instalacion_fieldheadercolumn}
	{BEGIN Instalacion_fieldheader}
	<SPAN {$Instalacion_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Instalacion">
	{$label detalleservicio Instalacion }	{$arrow_icon_Instalacion}
	</SPAN>
	{END Instalacion_fieldheader}
{END Instalacion_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
				 
					{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$Necropcia_class}
			"

			data-field="Necropcia"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Necropcia_fieldheadercolumn}
	{BEGIN Necropcia_fieldheader}
	<SPAN {$Necropcia_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Necropcia">
	{$label detalleservicio Necropcia }	{$arrow_icon_Necropcia}
	</SPAN>
	{END Necropcia_fieldheader}
{END Necropcia_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
				 
					{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$Camara_class}
			"

			data-field="Camara"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Camara_fieldheadercolumn}
	{BEGIN Camara_fieldheader}
	<SPAN {$Camara_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Camara">
	{$label detalleservicio Camara }	{$arrow_icon_Camara}
	</SPAN>
	{END Camara_fieldheader}
{END Camara_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
				 
					{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$Nivel_class}
			"

			data-field="Nivel"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Nivel_fieldheadercolumn}
	{BEGIN Nivel_fieldheader}
	<SPAN {$Nivel_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Nivel">
	{$label detalleservicio Nivel }	{$arrow_icon_Nivel}
	</SPAN>
	{END Nivel_fieldheader}
{END Nivel_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
				 
					{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$IdPersonalRecojo_class}
			"

			data-field="IdPersonalRecojo"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdPersonalRecojo_fieldheadercolumn}
	{BEGIN IdPersonalRecojo_fieldheader}
	<SPAN {$IdPersonalRecojo_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdPersonalRecojo">
	{$label detalleservicio IdPersonalRecojo }	{$arrow_icon_IdPersonalRecojo}
	</SPAN>
	{END IdPersonalRecojo_fieldheader}
{END IdPersonalRecojo_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
				 
					{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$IdVehiculoRecojo_class}
			"

			data-field="IdVehiculoRecojo"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdVehiculoRecojo_fieldheadercolumn}
	{BEGIN IdVehiculoRecojo_fieldheader}
	<SPAN {$IdVehiculoRecojo_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdVehiculoRecojo">
	{$label detalleservicio IdVehiculoRecojo }	{$arrow_icon_IdVehiculoRecojo}
	</SPAN>
	{END IdVehiculoRecojo_fieldheader}
{END IdVehiculoRecojo_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
							</tr>
					 
					 
					
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_icons}
	<td
	
	{$cell_grid_cell_icons}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="detalleservicio_list"		data-control-cell
	
	>

	 
		{BEGIN edit_column}
{BEGIN edit_link}
<span data-itemtype="grid_edit" data-itemid="grid_edit" {$item_grid_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Editar" class="btn-link   
	 glyphicon glyphicon-pencil" href="detalleservicio_edit.php?{$editlink}" {$editlink_attrs} title="Editar" data-popup >		
				
								</a>
</span>
{END edit_link}
{END edit_column}
	 
		{BEGIN inline_cancel}
<span data-itemtype="grid_inline_cancel" data-itemid="grid_inline_cancel" {$item_grid_inline_cancel} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Cancelar" class="btn-link   
	 glyphicon glyphicon-remove" {$inlinerevertlink_attrs} title="Cancelar" >		
				
								</a>
</span>
{END inline_cancel}
	 
		{BEGIN view_column}
{BEGIN view_link}
<span data-itemtype="grid_view" data-itemid="grid_view" {$item_grid_view} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Ver registro" class="btn-link   
	 glyphicon glyphicon-search" href="detalleservicio_view.php?{$editlink}" {$viewlink_attrs} title="Ver" data-popup >		
				
								</a>
</span>
{END view_link}
{END view_column}
	
	</td>
	{END cellblock_grid_cell_icons}
				 
					{BEGIN cellblock_grid_cell_checkbox}
	<td
	
	{$cell_grid_cell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}>
</span>	
{END checkbox_column}
	
	</td>
	{END cellblock_grid_cell_checkbox}
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$IdServicio_class}
			"

			data-field="IdServicio"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdServicio_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdServicio" data-default-width >
{$IdServicio_value}
</span>
{END IdServicio_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$FHRecojo_class}
			"

			data-field="FHRecojo"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FHRecojo_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FHRecojo" data-default-width >
{$FHRecojo_value}
</span>
{END FHRecojo_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$IdSedeRecojo_class}
			"

			data-field="IdSedeRecojo"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdSedeRecojo_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdSedeRecojo" data-default-width >
{$IdSedeRecojo_value}
</span>
{END IdSedeRecojo_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$Lugar_class}
			"

			data-field="Lugar"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Lugar_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Lugar" data-default-width >
{$Lugar_value}
</span>
{END Lugar_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$Turno_class}
			"

			data-field="Turno"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Turno_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Turno" data-default-width >
{$Turno_value}
</span>
{END Turno_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
				 
					{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$IdUbigeoRecojo_class}
			"

			data-field="IdUbigeoRecojo"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdUbigeoRecojo_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdUbigeoRecojo" data-default-width >
{$IdUbigeoRecojo_value}
</span>
{END IdUbigeoRecojo_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
				 
					{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$Instalacion_class}
			"

			data-field="Instalacion"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Instalacion_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Instalacion" data-default-width >
{$Instalacion_value}
</span>
{END Instalacion_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
				 
					{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$Necropcia_class}
			"

			data-field="Necropcia"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Necropcia_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Necropcia" data-default-width >
{$Necropcia_value}
</span>
{END Necropcia_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
				 
					{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$Camara_class}
			"

			data-field="Camara"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Camara_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Camara" data-default-width >
{$Camara_value}
</span>
{END Camara_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
				 
					{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$Nivel_class}
			"

			data-field="Nivel"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Nivel_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Nivel" data-default-width >
{$Nivel_value}
</span>
{END Nivel_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
				 
					{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$IdPersonalRecojo_class}
			"

			data-field="IdPersonalRecojo"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdPersonalRecojo_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdPersonalRecojo" data-default-width >
{$IdPersonalRecojo_value}
</span>
{END IdPersonalRecojo_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
				 
					{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$IdVehiculoRecojo_class}
			"

			data-field="IdVehiculoRecojo"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdVehiculoRecojo_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdVehiculoRecojo" data-default-width >
{$IdVehiculoRecojo_value}
</span>
{END IdVehiculoRecojo_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
							</tr>
					 
					
											{END grid_row}
					</tbody>
													<tfoot>
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_icons}
	<td
	
	{$cell_grid_footcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_icons}
				 
					{BEGIN cellblock_grid_footcell_checkbox}
	<td
	
	{$cell_grid_footcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_checkbox}
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="detalleservicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="detalleservicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="detalleservicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="detalleservicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="detalleservicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="detalleservicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
				 
					{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="detalleservicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
				 
					{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="detalleservicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
				 
					{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="detalleservicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
				 
					{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="detalleservicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
				 
					{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="detalleservicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
				 
					{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="detalleservicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
		</div>
	{END body}
	</body>
</html>
