<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel personal search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN IdPersonal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_IdPersonal}  r-horizontal-field form-horizontal" 
	
		data-fieldname="IdPersonal" 
	
	data-signal-error-for="IdPersonal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="IdPersonal" >


	<label class="r-search-label control-label" for="{$labelfor_IdPersonal}">
		{$label personal IdPersonal }	</label>
	<div class="r-search-option">
		{$searchtype_IdPersonal}
	</div>
	<div class="r-search-field">
		{$IdPersonal_editcontrol}	</div>
	<div class="r-search-field">
		{$IdPersonal_editcontrol1}
	</div>
	
</div>

{END IdPersonal_fieldblock}
											
{BEGIN DocPersonal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DocPersonal}  r-horizontal-field form-horizontal" 
	
		data-fieldname="DocPersonal" 
	
	data-signal-error-for="DocPersonal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="DocPersonal" >


	<label class="r-search-label control-label" for="{$labelfor_DocPersonal}">
		{$label personal DocPersonal }	</label>
	<div class="r-search-option">
		{$searchtype_DocPersonal}
	</div>
	<div class="r-search-field">
		{$DocPersonal_editcontrol}	</div>
	<div class="r-search-field">
		{$DocPersonal_editcontrol1}
	</div>
	
</div>

{END DocPersonal_fieldblock}
											
{BEGIN NomApe_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NomApe}  r-horizontal-field form-horizontal" 
	
		data-fieldname="NomApe" 
	
	data-signal-error-for="NomApe{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="NomApe" >


	<label class="r-search-label control-label" for="{$labelfor_NomApe}">
		{$label personal NomApe }	</label>
	<div class="r-search-option">
		{$searchtype_NomApe}
	</div>
	<div class="r-search-field">
		{$NomApe_editcontrol}	</div>
	<div class="r-search-field">
		{$NomApe_editcontrol1}
	</div>
	
</div>

{END NomApe_fieldblock}
											
{BEGIN Telefono_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Telefono}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Telefono" 
	
	data-signal-error-for="Telefono{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="Telefono" >


	<label class="r-search-label control-label" for="{$labelfor_Telefono}">
		{$label personal Telefono }	</label>
	<div class="r-search-option">
		{$searchtype_Telefono}
	</div>
	<div class="r-search-field">
		{$Telefono_editcontrol}	</div>
	<div class="r-search-field">
		{$Telefono_editcontrol1}
	</div>
	
</div>

{END Telefono_fieldblock}
											
{BEGIN Correo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Correo}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Correo" 
	
	data-signal-error-for="Correo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="Correo" >


	<label class="r-search-label control-label" for="{$labelfor_Correo}">
		{$label personal Correo }	</label>
	<div class="r-search-option">
		{$searchtype_Correo}
	</div>
	<div class="r-search-field">
		{$Correo_editcontrol}	</div>
	<div class="r-search-field">
		{$Correo_editcontrol1}
	</div>
	
</div>

{END Correo_fieldblock}
											
{BEGIN Cargo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Cargo}  r-horizontal-field form-horizontal" 
	
		data-fieldname="Cargo" 
	
	data-signal-error-for="Cargo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="Cargo" >


	<label class="r-search-label control-label" for="{$labelfor_Cargo}">
		{$label personal Cargo }	</label>
	<div class="r-search-option">
		{$searchtype_Cargo}
	</div>
	<div class="r-search-field">
		{$Cargo_editcontrol}	</div>
	<div class="r-search-field">
		{$Cargo_editcontrol1}
	</div>
	
</div>

{END Cargo_fieldblock}
											
{BEGIN IndEstado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_IndEstado}  r-horizontal-field form-horizontal" 
	
		data-fieldname="IndEstado" 
	
	data-signal-error-for="IndEstado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="IndEstado" >


	<label class="r-search-label control-label" for="{$labelfor_IndEstado}">
		{$label personal IndEstado }	</label>
	<div class="r-search-option">
		{$searchtype_IndEstado}
	</div>
	<div class="r-search-field">
		{$IndEstado_editcontrol}	</div>
	<div class="r-search-field">
		{$IndEstado_editcontrol1}
	</div>
	
</div>

{END IndEstado_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
