<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-page="servicio_list" data-logo-cell data-itemid="image" {$item_image} data-topcell-item-type="image" >
				<img src="{$file_url images/path2.png}" data-itemtype="image" data-itemid="image" {$item_image} data-pageid="{$pageid}" />
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-page="servicio_list" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel" >
				<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}" >

	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Búsqueda			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Mostrar opciones</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>todas las condiciones</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>cualquier condición</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>esconder</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_Despacho}


		<div class="form-group srchPanelRow {$filterRow_class_Despacho}" {$filterRow_attrs_Despacho}>
			<label>{$label servicio Despacho }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Despacho}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Despacho}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Despacho}</span>
						</div>
		{END searchCtrlBlock_Despacho}
																{BEGIN searchCtrlBlock_IdServicio}


		<div class="form-group srchPanelRow {$filterRow_class_IdServicio}" {$filterRow_attrs_IdServicio}>
			<label>{$label servicio IdServicio }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_IdServicio}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_IdServicio}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_IdServicio}</span>
						</div>
		{END searchCtrlBlock_IdServicio}
																{BEGIN searchCtrlBlock_Titular}


		<div class="form-group srchPanelRow {$filterRow_class_Titular}" {$filterRow_attrs_Titular}>
			<label>{$label servicio Titular }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Titular}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Titular}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Titular}</span>
						</div>
		{END searchCtrlBlock_Titular}
																{BEGIN searchCtrlBlock_Sexo}


		<div class="form-group srchPanelRow {$filterRow_class_Sexo}" {$filterRow_attrs_Sexo}>
			<label>{$label servicio Sexo }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Sexo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Sexo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Sexo}</span>
						</div>
		{END searchCtrlBlock_Sexo}
																{BEGIN searchCtrlBlock_ServicioClase}


		<div class="form-group srchPanelRow {$filterRow_class_ServicioClase}" {$filterRow_attrs_ServicioClase}>
			<label>{$label servicio ServicioClase }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_ServicioClase}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_ServicioClase}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_ServicioClase}</span>
						</div>
		{END searchCtrlBlock_ServicioClase}
																{BEGIN searchCtrlBlock_Recojo}


		<div class="form-group srchPanelRow {$filterRow_class_Recojo}" {$filterRow_attrs_Recojo}>
			<label>{$label servicio Recojo }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Recojo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Recojo}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Recojo}</span>
						</div>
		{END searchCtrlBlock_Recojo}
																{BEGIN searchCtrlBlock_Observacion}


		<div class="form-group srchPanelRow {$filterRow_class_Observacion}" {$filterRow_attrs_Observacion}>
			<label>{$label servicio Observacion }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Observacion}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Observacion}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Observacion}</span>
						</div>
		{END searchCtrlBlock_Observacion}
																{BEGIN searchCtrlBlock_NroContrato}


		<div class="form-group srchPanelRow {$filterRow_class_NroContrato}" {$filterRow_attrs_NroContrato}>
			<label>{$label servicio NroContrato }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_NroContrato}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_NroContrato}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_NroContrato}</span>
						</div>
		{END searchCtrlBlock_NroContrato}
																{BEGIN searchCtrlBlock_Instalacion}


		<div class="form-group srchPanelRow {$filterRow_class_Instalacion}" {$filterRow_attrs_Instalacion}>
			<label>{$label servicio Instalacion }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Instalacion}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Instalacion}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Instalacion}</span>
						</div>
		{END searchCtrlBlock_Instalacion}
																{BEGIN searchCtrlBlock_IdTipoServicio}


		<div class="form-group srchPanelRow {$filterRow_class_IdTipoServicio}" {$filterRow_attrs_IdTipoServicio}>
			<label>{$label servicio IdTipoServicio }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_IdTipoServicio}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_IdTipoServicio}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_IdTipoServicio}</span>
						</div>
		{END searchCtrlBlock_IdTipoServicio}
																{BEGIN searchCtrlBlock_IdCausa}


		<div class="form-group srchPanelRow {$filterRow_class_IdCausa}" {$filterRow_attrs_IdCausa}>
			<label>{$label servicio IdCausa }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_IdCausa}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_IdCausa}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_IdCausa}</span>
						</div>
		{END searchCtrlBlock_IdCausa}
																{BEGIN searchCtrlBlock_FechaContrato}


		<div class="form-group srchPanelRow {$filterRow_class_FechaContrato}" {$filterRow_attrs_FechaContrato}>
			<label>{$label servicio FechaContrato }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_FechaContrato}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_FechaContrato}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_FechaContrato}</span>
						</div>
		{END searchCtrlBlock_FechaContrato}
																{BEGIN searchCtrlBlock_Fallecido}


		<div class="form-group srchPanelRow {$filterRow_class_Fallecido}" {$filterRow_attrs_Fallecido}>
			<label>{$label servicio Fallecido }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Fallecido}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Fallecido}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Fallecido}</span>
						</div>
		{END searchCtrlBlock_Fallecido}
																{BEGIN searchCtrlBlock_FHFallecimiento}


		<div class="form-group srchPanelRow {$filterRow_class_FHFallecimiento}" {$filterRow_attrs_FHFallecimiento}>
			<label>{$label servicio FHFallecimiento }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_FHFallecimiento}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_FHFallecimiento}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_FHFallecimiento}</span>
						</div>
		{END searchCtrlBlock_FHFallecimiento}
																{BEGIN searchCtrlBlock_DocTitular}


		<div class="form-group srchPanelRow {$filterRow_class_DocTitular}" {$filterRow_attrs_DocTitular}>
			<label>{$label servicio DocTitular }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_DocTitular}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_DocTitular}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_DocTitular}</span>
						</div>
		{END searchCtrlBlock_DocTitular}
																{BEGIN searchCtrlBlock_DocFallecido}


		<div class="form-group srchPanelRow {$filterRow_class_DocFallecido}" {$filterRow_attrs_DocFallecido}>
			<label>{$label servicio DocFallecido }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_DocFallecido}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_DocFallecido}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_DocFallecido}</span>
						</div>
		{END searchCtrlBlock_DocFallecido}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>Buscar</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>Mostrar todo</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
    {END left_block}
</div>				</div>	
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Mostrar todo">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-cog"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN exportselected_link}
	<li data-itemtype="export_selected" data-itemid="export_selected" {$item_export_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportselectedlink_attrs} {$exportselectedlink_span}  title="" >
				
		Exportar seleccionados		
		</a>
	</li>
{END exportselected_link}
							{BEGIN deleteselected_link}
	<li data-itemtype="delete_selected" data-itemid="delete_selected" {$item_delete_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}  title="" >
				
		Borrar articulos seleccionados		
		</a>
	</li>
{END deleteselected_link}
							<li role="separator" class="divider"></li>								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="servicio_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Búsqueda avanzada		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Mostrar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Ocultar panel de búsqueda		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export" data-itemid="export" {$item_export} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportlink_attrs}  title="" >
				
		Exportar resultados		
		</a>
	</li>
{END export_link}
							<li role="separator" class="divider"></li>							{BEGIN import_link}
	<li data-itemtype="import" data-itemid="import" {$item_import} data-pageid="{$pageid}" data-small >
				<a  {$importlink_attrs} href="servicio_import.php{$stateLink_full}"  title="" >
				
		Importar		
		</a>
	</li>
{END import_link}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Conectar			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-user"></span>
						{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Desconectarse		
		</a>
	</li>
{END logoutbutton}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-6
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN add_link}
<span data-itemtype="add" data-itemid="add" {$item_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$addlink_attrs} href="servicio_add.php{$stateLink_full}" data-popup >
							Añadir nuevo			</a>
</span>
{END add_link}
	 
		{BEGIN inlineadd_link}
<span data-itemtype="inline_add" data-itemid="inline_add" {$item_inline_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$inlineaddlink_attrs} >
							Añadir nuevo			</a>
</span>
{END inlineadd_link}
	 
		{BEGIN deleteselected_link}
<span data-itemtype="delete" data-itemid="delete" {$item_delete} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled >
							Borrar artículos seleccionados			</a>
</span>
{END deleteselected_link}
			{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$details_found_labeldetails_found}
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Página para imprimir" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Rango:		</div>

		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="servicio_print.php?all=1&amp;{$crosstable_attrs}" name="printScope">
									Imprimir todas las páginas							</label>
		</div>
		{END print_friendly_all}
	</div>
	<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="servicio_print.php?{$crosstable_attrs}">
				Imprimir esta página			</label>
		</div>
	</div>
	
		<div class="row">
		<div class="col-md-4">
			&nbsp;
		</div>
		<div class="col-md-8">
			<label style="color: gray;" for="printSelection{$id}">
			<input name="printScope" disabled="disabled" id="printSelection{$id}" type="radio">
			Imprimir la selección			</label>
		</div>
	</div>
	</div>				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									{BEGIN print_details}
<div>
	<label for="printDetailsToggler{$id}">
		<input type="checkbox" id="printDetailsToggler{$id}">
		Detalles de impresión	</label>
	<div  id="printdetailstables{$id}" style="display:none;">
											{BEGIN print_details_detalleservicio}
			<div>
				<label for="printDetailsdetalleservicio{$id}">
					<input type="checkbox" value="detalleservicio" id="printDetailsdetalleservicio{$id}" checked>
					Recojo				</label>
			</div>
			{END print_details_detalleservicio}
						</div>
</div>
{END print_details}
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					Resultados por página							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Imprimir			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="NroContrato"]:before {
		content: "{$label servicio NroContrato}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="FechaContrato"]:before {
		content: "{$label servicio FechaContrato}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="ServicioClase"]:before {
		content: "{$label servicio ServicioClase}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="IdTipoServicio"]:before {
		content: "{$label servicio IdTipoServicio}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="DocTitular"]:before {
		content: "{$label servicio DocTitular}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Titular"]:before {
		content: "{$label servicio Titular}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Observacion"]:before {
		content: "{$label servicio Observacion}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="DocFallecido"]:before {
		content: "{$label servicio DocFallecido}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Fallecido"]:before {
		content: "{$label servicio Fallecido}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Sexo"]:before {
		content: "{$label servicio Sexo}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="FHFallecimiento"]:before {
		content: "{$label servicio FHFallecimiento}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="IdCausa"]:before {
		content: "{$label servicio IdCausa}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Recojo"]:before {
		content: "{$label servicio Recojo}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Instalacion"]:before {
		content: "{$label servicio Instalacion}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Despacho"]:before {
		content: "{$label servicio Despacho}";
	}
	}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes}  r-flexgrid rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_icons}
	<th
	
	{$cell_grid_headcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"		data-control-cell
	
	>

	
	</th>
	{END cellblock_grid_headcell_icons}
				 
					{BEGIN cellblock_grid_headcell_checkbox}
	<th
	
	{$cell_grid_headcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox_head" data-itemid="grid_checkbox_head" {$item_grid_checkbox_head} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkboxheader_attrs}>
</span>
{END checkbox_column}
	
	</th>
	{END cellblock_grid_headcell_checkbox}
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$NroContrato_class}
			"

			data-field="NroContrato"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN NroContrato_fieldheadercolumn}
	{BEGIN NroContrato_fieldheader}
	<SPAN {$NroContrato_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="NroContrato">
	{$label servicio NroContrato }	{$arrow_icon_NroContrato}
	</SPAN>
	{END NroContrato_fieldheader}
{END NroContrato_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$FechaContrato_class}
			"

			data-field="FechaContrato"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FechaContrato_fieldheadercolumn}
	{BEGIN FechaContrato_fieldheader}
	<SPAN {$FechaContrato_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FechaContrato">
	{$label servicio FechaContrato }	{$arrow_icon_FechaContrato}
	</SPAN>
	{END FechaContrato_fieldheader}
{END FechaContrato_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$ServicioClase_class}
			"

			data-field="ServicioClase"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ServicioClase_fieldheadercolumn}
	{BEGIN ServicioClase_fieldheader}
	<SPAN {$ServicioClase_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ServicioClase">
	{$label servicio ServicioClase }	{$arrow_icon_ServicioClase}
	</SPAN>
	{END ServicioClase_fieldheader}
{END ServicioClase_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$IdTipoServicio_class}
			"

			data-field="IdTipoServicio"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdTipoServicio_fieldheadercolumn}
	{BEGIN IdTipoServicio_fieldheader}
	<SPAN {$IdTipoServicio_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdTipoServicio">
	{$label servicio IdTipoServicio }	{$arrow_icon_IdTipoServicio}
	</SPAN>
	{END IdTipoServicio_fieldheader}
{END IdTipoServicio_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$DocTitular_class}
			"

			data-field="DocTitular"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DocTitular_fieldheadercolumn}
	{BEGIN DocTitular_fieldheader}
	<SPAN {$DocTitular_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DocTitular">
	{$label servicio DocTitular }	{$arrow_icon_DocTitular}
	</SPAN>
	{END DocTitular_fieldheader}
{END DocTitular_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
				 
					{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$Titular_class}
			"

			data-field="Titular"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Titular_fieldheadercolumn}
	{BEGIN Titular_fieldheader}
	<SPAN {$Titular_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Titular">
	{$label servicio Titular }	{$arrow_icon_Titular}
	</SPAN>
	{END Titular_fieldheader}
{END Titular_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
				 
					{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$Observacion_class}
			"

			data-field="Observacion"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Observacion_fieldheadercolumn}
	{BEGIN Observacion_fieldheader}
	<SPAN {$Observacion_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Observacion">
	{$label servicio Observacion }	{$arrow_icon_Observacion}
	</SPAN>
	{END Observacion_fieldheader}
{END Observacion_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
				 
					{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$DocFallecido_class}
			"

			data-field="DocFallecido"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DocFallecido_fieldheadercolumn}
	{BEGIN DocFallecido_fieldheader}
	<SPAN {$DocFallecido_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DocFallecido">
	{$label servicio DocFallecido }	{$arrow_icon_DocFallecido}
	</SPAN>
	{END DocFallecido_fieldheader}
{END DocFallecido_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
				 
					{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$Fallecido_class}
			"

			data-field="Fallecido"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Fallecido_fieldheadercolumn}
	{BEGIN Fallecido_fieldheader}
	<SPAN {$Fallecido_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Fallecido">
	{$label servicio Fallecido }	{$arrow_icon_Fallecido}
	</SPAN>
	{END Fallecido_fieldheader}
{END Fallecido_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
				 
					{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$Sexo_class}
			"

			data-field="Sexo"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Sexo_fieldheadercolumn}
	{BEGIN Sexo_fieldheader}
	<SPAN {$Sexo_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field24" {$item_simple_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Sexo">
	{$label servicio Sexo }	{$arrow_icon_Sexo}
	</SPAN>
	{END Sexo_fieldheader}
{END Sexo_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
				 
					{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$FHFallecimiento_class}
			"

			data-field="FHFallecimiento"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FHFallecimiento_fieldheadercolumn}
	{BEGIN FHFallecimiento_fieldheader}
	<SPAN {$FHFallecimiento_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field25" {$item_simple_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FHFallecimiento">
	{$label servicio FHFallecimiento }	{$arrow_icon_FHFallecimiento}
	</SPAN>
	{END FHFallecimiento_fieldheader}
{END FHFallecimiento_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
				 
					{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$IdCausa_class}
			"

			data-field="IdCausa"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdCausa_fieldheadercolumn}
	{BEGIN IdCausa_fieldheader}
	<SPAN {$IdCausa_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field26" {$item_simple_grid_field26} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdCausa">
	{$label servicio IdCausa }	{$arrow_icon_IdCausa}
	</SPAN>
	{END IdCausa_fieldheader}
{END IdCausa_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
				 
					{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert				{$Recojo_class}
			"

			data-field="Recojo"
	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Recojo_fieldheadercolumn}
	{BEGIN Recojo_fieldheader}
	<SPAN {$Recojo_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field27" {$item_simple_grid_field27} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Recojo">
	{$label servicio Recojo }	{$arrow_icon_Recojo}
	</SPAN>
	{END Recojo_fieldheader}
{END Recojo_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field12}
				 
					{BEGIN cellblock_grid_headcell_field13}
	<th
	
	{$cell_grid_headcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert				{$Instalacion_class}
			"

			data-field="Instalacion"
	
	data-cellId="grid_headcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Instalacion_fieldheadercolumn}
	{BEGIN Instalacion_fieldheader}
	<SPAN {$Instalacion_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field28" {$item_simple_grid_field28} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Instalacion">
	{$label servicio Instalacion }	{$arrow_icon_Instalacion}
	</SPAN>
	{END Instalacion_fieldheader}
{END Instalacion_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field13}
				 
					{BEGIN cellblock_grid_headcell_field14}
	<th
	
	{$cell_grid_headcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert				{$Despacho_class}
			"

			data-field="Despacho"
	
	data-cellId="grid_headcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Despacho_fieldheadercolumn}
	{BEGIN Despacho_fieldheader}
	<SPAN {$Despacho_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field29" {$item_simple_grid_field29} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Despacho">
	{$label servicio Despacho }	{$arrow_icon_Despacho}
	</SPAN>
	{END Despacho_fieldheader}
{END Despacho_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field14}
							</tr>
					 
					 
					
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_icons}
	<td
	
	{$cell_grid_cell_icons}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"		data-control-cell
	
	>

	 
		{BEGIN edit_column}
{BEGIN edit_link}
<span data-itemtype="grid_edit" data-itemid="grid_edit" {$item_grid_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Editar" class="btn-link   
	 glyphicon glyphicon-pencil" href="servicio_edit.php?{$editlink}" {$editlink_attrs} title="Editar" data-popup >		
				
								</a>
</span>
{END edit_link}
{END edit_column}
	 
		{BEGIN inline_cancel}
<span data-itemtype="grid_inline_cancel" data-itemid="grid_inline_cancel" {$item_grid_inline_cancel} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Cancelar" class="btn-link   
	 glyphicon glyphicon-remove" {$inlinerevertlink_attrs} title="Cancelar" >		
				
								</a>
</span>
{END inline_cancel}
	 
		{BEGIN view_column}
{BEGIN view_link}
<span data-itemtype="grid_view" data-itemid="grid_view" {$item_grid_view} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Ver registro" class="btn-link   
	 glyphicon glyphicon-search" href="servicio_view.php?{$editlink}" {$viewlink_attrs} title="Ver" data-popup >		
				
								</a>
</span>
{END view_link}
{END view_column}
	
	</td>
	{END cellblock_grid_cell_icons}
				 
					{BEGIN cellblock_grid_cell_checkbox}
	<td
	
	{$cell_grid_cell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}>
</span>	
{END checkbox_column}
	
	</td>
	{END cellblock_grid_cell_checkbox}
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$NroContrato_class}
			"

			data-field="NroContrato"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN NroContrato_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="NroContrato" data-default-width >
{$NroContrato_value}
</span>
{END NroContrato_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$FechaContrato_class}
			"

			data-field="FechaContrato"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FechaContrato_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FechaContrato" data-default-width >
{$FechaContrato_value}
</span>
{END FechaContrato_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$ServicioClase_class}
			"

			data-field="ServicioClase"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN ServicioClase_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="ServicioClase" data-default-width >
{$ServicioClase_value}
</span>
{END ServicioClase_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$IdTipoServicio_class}
			"

			data-field="IdTipoServicio"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdTipoServicio_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdTipoServicio" data-default-width >
{$IdTipoServicio_value}
</span>
{END IdTipoServicio_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$DocTitular_class}
			"

			data-field="DocTitular"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DocTitular_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DocTitular" data-default-width >
{$DocTitular_value}
</span>
{END DocTitular_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
				 
					{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$Titular_class}
			"

			data-field="Titular"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Titular_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Titular" data-default-width >
{$Titular_value}
</span>
{END Titular_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
				 
					{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$Observacion_class}
			"

			data-field="Observacion"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Observacion_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Observacion" data-default-width >
{$Observacion_value}
</span>
{END Observacion_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
				 
					{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$DocFallecido_class}
			"

			data-field="DocFallecido"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DocFallecido_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DocFallecido" data-default-width >
{$DocFallecido_value}
</span>
{END DocFallecido_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
				 
					{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$Fallecido_class}
			"

			data-field="Fallecido"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Fallecido_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Fallecido" data-default-width >
{$Fallecido_value}
</span>
{END Fallecido_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
				 
					{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$Sexo_class}
			"

			data-field="Sexo"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Sexo_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Sexo" data-default-width >
{$Sexo_value}
</span>
{END Sexo_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
				 
					{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$FHFallecimiento_class}
			"

			data-field="FHFallecimiento"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN FHFallecimiento_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="FHFallecimiento" data-default-width >
{$FHFallecimiento_value}
</span>
{END FHFallecimiento_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
				 
					{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$IdCausa_class}
			"

			data-field="IdCausa"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN IdCausa_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IdCausa" data-default-width >
{$IdCausa_value}
</span>
{END IdCausa_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
				 
					{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert				{$Recojo_class}
			"

			data-field="Recojo"
	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Recojo_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Recojo" data-default-width >
{$Recojo_value}
</span>
{END Recojo_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field12}
				 
					{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert				{$Instalacion_class}
			"

			data-field="Instalacion"
	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Instalacion_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Instalacion" data-default-width >
{$Instalacion_value}
</span>
{END Instalacion_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field13}
				 
					{BEGIN cellblock_grid_cell_field14}
	<td
	
	{$cell_grid_cell_field14}
	{$recordattrs}
	class="
		 r-ori-vert				{$Despacho_class}
			"

			data-field="Despacho"
	
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Despacho_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Despacho" data-default-width >
{$Despacho_value}
</span>
{END Despacho_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field14}
							</tr>
					 
					
											{END grid_row}
					</tbody>
													<tfoot>
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_icons}
	<td
	
	{$cell_grid_footcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_icons}
				 
					{BEGIN cellblock_grid_footcell_checkbox}
	<td
	
	{$cell_grid_footcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_checkbox}
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
				 
					{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
				 
					{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
				 
					{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
				 
					{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
				 
					{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
				 
					{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
				 
					{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field12}
				 
					{BEGIN cellblock_grid_footcell_field13}
	<td
	
	{$cell_grid_footcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field13}
				 
					{BEGIN cellblock_grid_footcell_field14}
	<td
	
	{$cell_grid_footcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="servicio_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field14}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
		</div>
	{END body}
	</body>
</html>
