<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel servicio add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN NroContrato_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_NroContrato}  r-vertical-field" 
	data-fieldname="NroContrato" 
	data-signal-error-for="NroContrato{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="NroContrato" >


	<label class="r-edit-label control-label" for="{$labelfor_NroContrato}">
		{BEGIN NroContrato_label}{$label servicio NroContrato }{END NroContrato_label}
	</label>
	<div class="r-edit-field">
		{$NroContrato_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="NroContrato">
		<div class="text-muted" >
		{$tooltip servicio NroContrato }		</div>
	</div>
</div>


{END NroContrato_fieldblock}
											
{BEGIN FechaContrato_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_FechaContrato}  r-vertical-field" 
	data-fieldname="FechaContrato" 
	data-signal-error-for="FechaContrato{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="FechaContrato" >


	<label class="r-edit-label control-label" for="{$labelfor_FechaContrato}">
		{BEGIN FechaContrato_label}{$label servicio FechaContrato }{END FechaContrato_label}
	</label>
	<div class="r-edit-field">
		{$FechaContrato_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="FechaContrato">
		<div class="text-muted" >
		{$tooltip servicio FechaContrato }		</div>
	</div>
</div>


{END FechaContrato_fieldblock}
											
{BEGIN ServicioClase_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ServicioClase}  r-vertical-field" 
	data-fieldname="ServicioClase" 
	data-signal-error-for="ServicioClase{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="ServicioClase" >


	<label class="r-edit-label control-label" for="{$labelfor_ServicioClase}">
		{BEGIN ServicioClase_label}{$label servicio ServicioClase }{END ServicioClase_label}
	</label>
	<div class="r-edit-field">
		{$ServicioClase_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ServicioClase">
		<div class="text-muted" >
		{$tooltip servicio ServicioClase }		</div>
	</div>
</div>


{END ServicioClase_fieldblock}
											
{BEGIN IdTipoServicio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_IdTipoServicio}  r-vertical-field" 
	data-fieldname="IdTipoServicio" 
	data-signal-error-for="IdTipoServicio{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="IdTipoServicio" >


	<label class="r-edit-label control-label" for="{$labelfor_IdTipoServicio}">
		{BEGIN IdTipoServicio_label}{$label servicio IdTipoServicio }{END IdTipoServicio_label}
	</label>
	<div class="r-edit-field">
		{$IdTipoServicio_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="IdTipoServicio">
		<div class="text-muted" >
		{$tooltip servicio IdTipoServicio }		</div>
	</div>
</div>


{END IdTipoServicio_fieldblock}
											
{BEGIN DocTitular_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DocTitular}  r-vertical-field" 
	data-fieldname="DocTitular" 
	data-signal-error-for="DocTitular{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="DocTitular" >


	<label class="r-edit-label control-label" for="{$labelfor_DocTitular}">
		{BEGIN DocTitular_label}{$label servicio DocTitular }{END DocTitular_label}
	</label>
	<div class="r-edit-field">
		{$DocTitular_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="DocTitular">
		<div class="text-muted" >
		{$tooltip servicio DocTitular }		</div>
	</div>
</div>


{END DocTitular_fieldblock}
											
{BEGIN Titular_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Titular}  r-vertical-field" 
	data-fieldname="Titular" 
	data-signal-error-for="Titular{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Titular" >


	<label class="r-edit-label control-label" for="{$labelfor_Titular}">
		{BEGIN Titular_label}{$label servicio Titular }{END Titular_label}
	</label>
	<div class="r-edit-field">
		{$Titular_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Titular">
		<div class="text-muted" >
		{$tooltip servicio Titular }		</div>
	</div>
</div>


{END Titular_fieldblock}
											
{BEGIN Observacion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Observacion}  r-vertical-field" 
	data-fieldname="Observacion" 
	data-signal-error-for="Observacion{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="Observacion" >


	<label class="r-edit-label control-label" for="{$labelfor_Observacion}">
		{BEGIN Observacion_label}{$label servicio Observacion }{END Observacion_label}
	</label>
	<div class="r-edit-field">
		{$Observacion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Observacion">
		<div class="text-muted" >
		{$tooltip servicio Observacion }		</div>
	</div>
</div>


{END Observacion_fieldblock}
											
{BEGIN DocFallecido_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DocFallecido}  r-vertical-field" 
	data-fieldname="DocFallecido" 
	data-signal-error-for="DocFallecido{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="DocFallecido" >


	<label class="r-edit-label control-label" for="{$labelfor_DocFallecido}">
		{BEGIN DocFallecido_label}{$label servicio DocFallecido }{END DocFallecido_label}
	</label>
	<div class="r-edit-field">
		{$DocFallecido_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="DocFallecido">
		<div class="text-muted" >
		{$tooltip servicio DocFallecido }		</div>
	</div>
</div>


{END DocFallecido_fieldblock}
											
{BEGIN Fallecido_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Fallecido}  r-vertical-field" 
	data-fieldname="Fallecido" 
	data-signal-error-for="Fallecido{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="Fallecido" >


	<label class="r-edit-label control-label" for="{$labelfor_Fallecido}">
		{BEGIN Fallecido_label}{$label servicio Fallecido }{END Fallecido_label}
	</label>
	<div class="r-edit-field">
		{$Fallecido_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Fallecido">
		<div class="text-muted" >
		{$tooltip servicio Fallecido }		</div>
	</div>
</div>


{END Fallecido_fieldblock}
											
{BEGIN Sexo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Sexo}  r-vertical-field" 
	data-fieldname="Sexo" 
	data-signal-error-for="Sexo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="Sexo" >


	<label class="r-edit-label control-label" for="{$labelfor_Sexo}">
		{BEGIN Sexo_label}{$label servicio Sexo }{END Sexo_label}
	</label>
	<div class="r-edit-field">
		{$Sexo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Sexo">
		<div class="text-muted" >
		{$tooltip servicio Sexo }		</div>
	</div>
</div>


{END Sexo_fieldblock}
											
{BEGIN FHFallecimiento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_FHFallecimiento}  r-vertical-field" 
	data-fieldname="FHFallecimiento" 
	data-signal-error-for="FHFallecimiento{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="FHFallecimiento" >


	<label class="r-edit-label control-label" for="{$labelfor_FHFallecimiento}">
		{BEGIN FHFallecimiento_label}{$label servicio FHFallecimiento }{END FHFallecimiento_label}
	</label>
	<div class="r-edit-field">
		{$FHFallecimiento_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="FHFallecimiento">
		<div class="text-muted" >
		{$tooltip servicio FHFallecimiento }		</div>
	</div>
</div>


{END FHFallecimiento_fieldblock}
											
{BEGIN IdCausa_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_IdCausa}  r-vertical-field" 
	data-fieldname="IdCausa" 
	data-signal-error-for="IdCausa{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="IdCausa" >


	<label class="r-edit-label control-label" for="{$labelfor_IdCausa}">
		{BEGIN IdCausa_label}{$label servicio IdCausa }{END IdCausa_label}
	</label>
	<div class="r-edit-field">
		{$IdCausa_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="IdCausa">
		<div class="text-muted" >
		{$tooltip servicio IdCausa }		</div>
	</div>
</div>


{END IdCausa_fieldblock}
											
{BEGIN Recojo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Recojo}  r-vertical-field" 
	data-fieldname="Recojo" 
	data-signal-error-for="Recojo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="Recojo" >


	<label class="r-edit-label control-label" for="{$labelfor_Recojo}">
		{BEGIN Recojo_label}{$label servicio Recojo }{END Recojo_label}
	</label>
	<div class="r-edit-field">
		{$Recojo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Recojo">
		<div class="text-muted" >
		{$tooltip servicio Recojo }		</div>
	</div>
</div>


{END Recojo_fieldblock}
											
{BEGIN Instalacion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Instalacion}  r-vertical-field" 
	data-fieldname="Instalacion" 
	data-signal-error-for="Instalacion{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="Instalacion" >


	<label class="r-edit-label control-label" for="{$labelfor_Instalacion}">
		{BEGIN Instalacion_label}{$label servicio Instalacion }{END Instalacion_label}
	</label>
	<div class="r-edit-field">
		{$Instalacion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Instalacion">
		<div class="text-muted" >
		{$tooltip servicio Instalacion }		</div>
	</div>
</div>


{END Instalacion_fieldblock}
											
{BEGIN Despacho_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Despacho}  r-vertical-field" 
	data-fieldname="Despacho" 
	data-signal-error-for="Despacho{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="Despacho" >


	<label class="r-edit-label control-label" for="{$labelfor_Despacho}">
		{BEGIN Despacho_label}{$label servicio Despacho }{END Despacho_label}
	</label>
	<div class="r-edit-field">
		{$Despacho_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Despacho">
		<div class="text-muted" >
		{$tooltip servicio Despacho }		</div>
	</div>
</div>


{END Despacho_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
