[data-cellid="left_c0"][data-page="categorias_list"][data-cellid="left_c0"][data-page="categorias_list"][data-cellid="left_c0"][data-page="categorias_list"] {
  background-color: #327240;
}
[data-cellid="grid_footcell_field"][data-page="categorias_list"][data-cellid="grid_footcell_field"][data-page="categorias_list"][data-cellid="grid_footcell_field"][data-page="categorias_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="categorias_list"][data-cellid="grid_footcell_field1"][data-page="categorias_list"][data-cellid="grid_footcell_field1"][data-page="categorias_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="categorias_list"][data-cellid="grid_footcell_field2"][data-page="categorias_list"][data-cellid="grid_footcell_field2"][data-page="categorias_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="categorias_list"][data-cellid="grid_headcell_icons"][data-page="categorias_list"][data-cellid="grid_headcell_icons"][data-page="categorias_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="categorias_list"][data-cellid="grid_cell_icons"][data-page="categorias_list"][data-cellid="grid_cell_icons"][data-page="categorias_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="categorias_list"][data-cellid="grid_headcell_checkbox"][data-page="categorias_list"][data-cellid="grid_headcell_checkbox"][data-page="categorias_list"] {
  width: 30px;
}

/* Put  your custom CSS code here */

[data-cellid="left_c0"][data-page="categorias_list"][data-cellid="left_c0"][data-page="categorias_list"][data-cellid="left_c0"][data-page="categorias_list"] {
  color: #327240;
}

